@media screen and (min-width: 921px) {
    #appointment-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    #appt-title-box {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 13em;
    }
    #appointment-title {
        width: 20em;
        text-align: center;
        font-size: 50px;
    }
    #pre-reading {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 35%;
        height: 9em;
        align-self: center;
    }
    #TOA-modal-container {
        display: none;
    }
    #prep-preread {
        font-family: 'Helvetica Bold';
        justify-self: center;
        align-self: flex-end;
    }
    #prep-preread a {
        color: black;
        text-decoration: none;
        position: relative;
        border: black 1px solid;
        padding: 0.396em 1em;
    }
    #services-preread {
        font-family: 'Helvetica Bold';
        justify-self: center;
        align-self: flex-end;
    }
    #services-preread a {
        color: black;
        text-decoration: none;
        position: relative;
        border: black 1px solid;
        padding: 0.396em 1em;
    }
    @keyframes color-shift {
        from {
            background-color: white;
        }
        to {
            background-color: black;
        }
        from {
            color: black;
        }
        to {
            color: white;
        }
    }
    #prep-preread a:hover, #services-preread a:hover {
        animation-name: color-shift;
        animation-duration: 0.25s;
        transition-timing-function: ease-out;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
    }
 
    #agreement-container {
        height: 6em;
        margin-top: 3em;
    }
    .checkbox-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
    }
    /*hiding input box*/
    .checkbox-container input[type="checkbox"] {
        opacity: 0;
    }
    /*custom checkbox*/
    .checkbox-container label::before {
        content: "";
        display: inline-block;
        height: 24px;
        width: 24px;
        border: 1px black solid;
    }
    /*custom checkmark*/
    .checkbox-container label::after {
        content: "";
        display: inline-block;
        height: 11px;
        width: 16px;
        border-left: 2px solid;
        border-bottom: 2px solid;
        transform: rotate(-45deg);
    }
    /*positioning checkmark and box*/
    .checkbox-container label {
        position: relative;
    }
    .checkbox-container label::before, .checkbox-container label::after {
        position: absolute;
    }
    /*Outer box*/
    .checkbox-container label::before {
        right: -1em;
    }
    /*Checkmark*/
    .checkbox-container label::after {
        top: 0.2em;
        right: -.75em;
    }
    /*Hide the checkmark by default*/
    .checkbox-container input[type="checkbox"]+label::after {
        content: none;
    }
    /*Unhide the checkmark on checked state*/
    .checkbox-container input[type="checkbox"]:checked+label::after {
        content: "";
    }
    .checkbox-container p {
       margin-left: 2em;
       margin-top: 1.7em;
    }
    #redirect-schedulista {
        width: 100%;
        text-align: center;
        height: 10em;
    }
    #schedulista-button {
        background: transparent;
        border: 1px solid black;
        padding: 1% 5% 1% 5%;
        margin-top: 1.5em;
    }
    #redirect-schedulista a {
        text-decoration: none;
    }
    @keyframes color-shift {
        from {
            background-color: white;
        }
        to {
            background-color: black;
        }
        from {
            color: black;
        }
        to {
            color: white;
        }
    }
    #schedulista-button:hover {
        animation-name: color-shift;
        animation-duration: 0.25s;
        transition-timing-function: ease-out;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
        cursor: pointer;
    }
    #appointment-footer {
        display: flex;
        width: 100%;
        align-self: flex-end;
        justify-content: center;
        margin-top: 5.5em;
    }
}

/*mobile*/

@media screen and (max-width: 920px) {
    #appointment-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #appt-title-box {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 7em;
    }
    #appointment-title {
        font-size: 1.9em;
        width: 85%;
        word-wrap: break-word;
        text-align: center;
        justify-self: center;
        align-self: flex-end;
        margin-bottom: 1em;
    }
    #pre-reading {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 1.5em;
    }

    #services-preread {
        border: 1px solid black;
        padding: 0.3em 0.8em;
    }
    #prep-preread {
        border: 1px solid black;
        padding: 0.3em 0.8em;
    }
    #prep-preread a {
        color: darkblue;
        text-decoration: none;
    }
    #prep-preread h2 {
        margin: 0;
    }
    #services-preread a {
        color: darkblue;
        text-decoration: none;
    }
    #services-preread h2 {
        margin: 0;
    }
    #agreement-container {
        display: flex;
        width: 100%;
        justify-content: center;
        height: 6em;
        margin-top: 1.5em;
    }
    #statement {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .checkbox-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        position: relative;
    }
    /*hiding input box*/
    .checkbox-container input[type="checkbox"] {
        opacity: 0;
    }
    /*custom checkbox*/
    .checkbox-container label::before {
        content: "";
        display: inline-block;
        height: 24px;
        width: 24px;
        border: 1px black solid;
    }
    /*custom checkmark*/
    .checkbox-container label::after {
        content: "";
        display: inline-block;
        height: 11px;
        width: 16px;
        border-left: 2px solid;
        border-bottom: 2px solid;
        transform: rotate(-45deg);
    }
    /*positioning checkmark and box*/
    .checkbox-container label {
        position: relative;
    }
    .checkbox-container label::before, .checkbox-container label::after {
        position: absolute;
    }
    /*Outer box*/
    .checkbox-container label::before {
        right: 300px;
    }
    /*Checkmark*/
    .checkbox-container label::after {
        right: 304px;
        top: 3px;
    }
    /*Hide the checkmark by default*/
    .checkbox-container input[type="checkbox"]+label::after {
        content: none;
    }
    /*Unhide the checkmark on checked state*/
    .checkbox-container input[type="checkbox"]:checked+label::after {
        content: "";
    }
    .checkbox-container p {
        position: absolute;
        right: 5%;
        top: -2vw;
        width: 15em;
    }
    #redirect-schedulista {
        width: 100%;
        text-align: center;
        height: 6em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.5em;
    }
    #redirect-schedulista button {
        background: transparent;
        border: 1px solid black;
        padding: 1em 2em 1em 2em;
    }
    #redirect-schedulista:hover {
        animation-name: button-press;
        animation-duration: 0.01s;
        transition-timing-function: ease-out;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
      }
      @keyframes button-press {
        from {
          transform: translateY(0);
        }
        to {
          transform: translateY(4px);
        }
      } 
    #redirect-schedulista h2 {
        margin: auto;
    }
    #appointment-footer {
        width: 95%;
        margin-right: 1.2em;
        margin-top: 6em;
    }
}