#prep-footer {
  width: 95%;
}
@media screen and (min-width: 1250px) {
  #preparation-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #prep-container {
    height: 585px;
    margin-top: 300px;
    margin-left: 17%;
  }
  #prep-container h1 {
    font-size: 80px;
  }
  .left-list {
    margin-top: 100px;
    list-style: none;
    padding-left: 0;
    font-size: 20px;
    width: 800px;
  }
  #day-of-container {
    height: 820px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    flex-direction: column;
    margin-top: 150px;
  }
  #day-of-container h1 {
    font-size: 80px;
    text-align: right;
    margin-right: 17%;
  }
  .right-list {
    margin-top: 100px;
    list-style: none;
    padding-left: 0;
    font-size: 20px;
    text-align: left;
    width: 800px;
    margin-right: 17%;
  }
  #after-container {
    height: 1500px;
    margin-top: 225px;
    margin-left: 17%;
  }
  #after-container h1 {
    font-size: 80px;
  }
  #after-container p {
    width: 800px;
    font-size: 20px;
  }
  #after-first-p {
    margin-top: 100px;
  }
  .sub-cat {
    font-size: 30px !important;
  }
  #after-list {
    list-style: none;
    padding-left: 0;
    font-size: 20px;
    width: 800px;
  }
}

@media screen and (max-width: 1249px) {
  #preparation-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #prep-container {
    height: 585px;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  #prep-container h1 {
    font-size: 80px;
  }
  .left-list {
    margin-top: 100px;
    list-style: none;
    padding-left: 0;
    font-size: 20px;
    width: 800px;
  }
  #day-of-container {
    height: 730px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  #day-of-container h1 {
    font-size: 80px;
  }
  .right-list {
    margin-top: 100px;
    list-style: none;
    padding-left: 0;
    font-size: 20px;
    text-align: left;
    width: 800px;
  }
  #after-container {
    height: 1500px;
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  #after-container h1 {
    font-size: 80px;
  }
  #after-container p {
    width: 800px;
    font-size: 20px;
  }
  #after-first-p {
    margin-top: 110px;
  }
  .sub-cat {
    font-size: 30px !important;
  }
  #after-list {
    list-style: none;
    padding-left: 0;
    font-size: 20px;
    width: 800px;
  }
}

/*mobile*/

@media screen and (max-width: 920px) {
  #preparation-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #prep-container {
    height: 585px;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  #prep-container h1 {
    font-size: 40px;
  }
  .left-list {
    margin-top: 50px;
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    width: 300px;
  }
  #day-of-container {
    height: 730px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  #day-of-container h1 {
    font-size: 40px;
  }
  .right-list {
    margin-top: 50px;
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    text-align: left;
    width: 300px;
  }
  #after-container {
    height: 1850px;
    margin-top: 235px;
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  #after-container h1 {
    font-size: 40px;
  }
  #after-container p {
    width: 300px;
    font-size: 16px;
  }
  #after-first-p {
    margin-top: 60px;
  }
  #after-list {
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    width: 300px;
  }
  .sub-cat {
    font-size: 20px !important;
  }
  #prep-footer {
    margin-right: 5%;
  }
}
