@media screen and (min-width: 921px) {

    #schedule-container {
        height: 100%;
        width: 100%;
    }
    .schedulista-widget-desktop {
        height: 100%;
        width: 100%;
        z-index: 0;
        top: 18%;
        position: absolute;
        padding: 0 5%;
    }
    .schedulista-widget-mobile {
        display: none;
    }
    .breadcrumb {
        margin-left: 5%;
    }
}

/*mobile*/

@media screen and (max-width: 920px) {
    #schedule-container {
        height: 100%;
        width: 100%;
    }
    .schedulista-widget-desktop {
        display: none;
    }
    .schedulista-widget-mobile {
        height: 100%;
        width: 100%;
        z-index: 0;
        margin-top: 5em;
        padding: 1em;
        position: absolute;
    }
    .breadcrumb {
        margin-left: 5%;
    }
}