@media screen and (min-width: 1350px) {
  #services-container {
    width: 100%;
    height: 100%;
  }
  #services-container p {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
  }
  #sidebar-container {
    position: fixed;
    top: 500px;
    left: -55px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  #sidebar-container a {
    font-family: "Helvetica Light";
    font-size: 20px;
    color: #747474;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #747474, #747474 50%, black 50%);
    background-size: 200% 100%;
    background-position: 100%;
    cursor: pointer;
  }
  #sidebar-container a:hover {
    transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
    background-position: 0%;
  }
  #sidebar-container a:hover {
    color: black;
  }
  .ind-services {
    width: inherit;
    height: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .services-info-container {
    height: 450px;
    margin-left: 15%;
    width: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .services-info h1 {
    font-size: 80px;
    margin-bottom: 40px;
    font-family: "Helvetica Bold";
  }
  .services-info p {
    font-size: 35px;
  }
  .subtext {
    color: #b1b1b1;
    margin-bottom: 30px;
    margin-left: 3px;
  }
  .service-category {
    margin-bottom: 0px;
  }
  .detail-button {
    margin-left: -20px;
    font-weight: 400 !important;
  }
  .detail-button svg {
    padding-top: 5px;
    padding-left: 0px;
  }
  .img-box {
    width: 50em;
  }
  .img-box img {
    width: 600px;
    height: auto;
  }
  .services-overview-button {
    border: 0;
    cursor: pointer;
    margin-top: 90px;
    background-color: transparent;
    position: relative;
    outline: none;
    border: none;
  }
  .services-overview-button:before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border: 2px solid transparent;
    left: -25px;
    bottom: 3px;
    box-sizing: border-box;
  }
  .services-overview-button:after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border: 2px solid transparent;
    right: -16px;
    top: -18.5px;
    box-sizing: border-box;
  }
  .services-overview-button:hover:before {
    height: 100px;
    width: 400px;
    border: 1.3px solid black;
    border-right: none;
    border-bottom: none;
    transition: height 0.1s linear, width 0.3s linear 0.15s;
  }
  .services-overview-button:hover:after {
    height: 100px;
    width: 400px;
    border: 1.3px solid black;
    border-left: none;
    border-top: none;
    transition: height 0.1s linear, width 0.3s linear 0.15s;
  }
  .services-overview-button:focus {
    outline: grey;
    border: grey;
  }
  .services-title p {
    color: black;
    text-decoration: none;
  }
  .mobile-detail-button {
    display: none;
  }
  #services-footer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1349px) and (min-width: 921px) {
  #services-container {
    width: 100%;
    height: 100%;
  }
  #services-container p {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
  }
  #sidebar-container {
    position: fixed;
    top: 475px;
    left: -100px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  #sidebar-container a {
    font-family: "Helvetica Light";
    font-size: 20px;
    color: #747474;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #747474, #747474 50%, black 50%);
    background-size: 200% 100%;
    background-position: 100%;
    cursor: pointer;
  }
  #sidebar-container a:hover {
    transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
    background-position: 0%;
  }
  #sidebar-container a:hover {
    color: black;
  }
  .ind-services {
    width: inherit;
    height: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .services-info-container {
    height: 450px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .services-info h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: "Helvetica Bold";
  }
  .services-info p {
    font-size: 25px;
  }
  .subtext {
    color: #b1b1b1;
    margin-bottom: 0px;
    margin-left: 3px;
  }
  .service-category {
    margin-bottom: 0px;
  }
  .detail-button {
    margin-left: -20px;
    font-weight: 400 !important;
  }
  .detail-button svg {
    padding-top: 5px;
    padding-left: 20px;
    width: 10em;
  }
  .img-box {
    width: 35em;
    height: auto;
  }
  .img-box img {
    height: 400px;
    padding-left: 140px;
    margin-bottom: 20px;
  }
  .services-overview-button {
    border: 0;
    cursor: pointer;
    margin-top: 90px;
    background-color: transparent;
    position: relative;
    outline: none;
    border: none;
  }
  .services-overview-button:before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border: 2px solid transparent;
    left: -25px;
    bottom: 3px;
    box-sizing: border-box;
  }
  .services-overview-button:after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border: 2px solid transparent;
    right: -16px;
    top: -13px;
    box-sizing: border-box;
  }
  .services-overview-button:hover:before {
    height: 90px;
    width: 283px;
    border: 1.3px solid black;
    border-right: none;
    border-bottom: none;
    transition: height 0.1s linear, width 0.3s linear 0.15s;
  }
  .services-overview-button:hover:after {
    height: 90px;
    width: 283px;
    border: 1.3px solid black;
    border-left: none;
    border-top: none;
    transition: height 0.1s linear, width 0.3s linear 0.15s;
  }
  .services-overview-button:focus {
    outline: grey;
    border: grey;
  }
  .services-title p {
    color: black;
    text-decoration: none;
  }
  .mobile-detail-button {
    display: none;
  }
  #services-footer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 920px) {
  #services-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: fit-content;
  }
  #sidebar-container {
    position: fixed;
    top: 400px;
    right: -75px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    color: #747474;
    cursor: pointer;
  }
  .ind-services {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .services-info-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0;
  }
  .services-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services-info h1 {
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 25px;
  }
  .services-info p {
    font-size: 15px;
    color: #747474;
    margin: 0;
  }
  .first {
    margin-top: 50px;
  }
  .img-box {
    margin-top: 100px;
    width: 5em;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .img-box img {
    width: 60%;
    min-width: 200px;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .detail-button {
    display: none;
  }
  .services-overview-button {
    font-size: 25px;
    background-color: transparent;
    margin-top: 30px;
    padding: 5px 10px;
    border: 1px solid black;
  }
  .mobile-detail-button {
    margin: 0;
    color: black !important;
  } 
  #services-footer {
    width: 95%;
    margin-top: 110px;
    margin-right: 8px;
  }
} 