@media screen and (min-width: 921px) {
    #TOA-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    #TOA-title {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 10em;
        margin-top: 140px;
    }
    #TOA-sub-title {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 10.5em;
        margin-bottom: 70px;
    }
    #TOA-sub-title h1 {
        font-size: 60px;
    }
    #TOA-title h1 {
        font-size: 60px;
    }
    #TOA-content {
        margin: 2% 20% 5% 20%;
        font-size: 16px;
        line-height: 35px;
    }
    #toa-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2em;
    }
}

/*mobile*/

@media screen and (max-width: 920px) {
    #TOA-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #TOA-title {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 10em;
    }
    #TOA-title h1 {
        font-size: 35px;
    }
    #TOA-sub-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 9em;
        margin-top: 1em;
    }
    #TOA-sub-title h1 {
        font-size: 35px;
    }
    #TOA-content {
        width: 85%;
        font-size: 14px;
        line-height: 35px;
    }
    #toa-footer {
        width: 95%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 4em;
        margin-right: 8px;
    }
}