@media screen and (min-width: 921px) {
    #TOA-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    #TOA-title {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 10em;
    }

    #TOA-content {
        margin: 0% 20% 3% 20%;
        font-size: 16px;
        line-height: 35px;
    }
    #toa-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2em;
    }
}

/*mobile*/

@media screen and (max-width: 920px) {
    #TOA-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    #TOA-title {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 10em;
    }
    #TOA-content {
        margin: 0% 2em 2em 2em;
        font-size: 16px;
        line-height: 35px;
    }
    #toa-footer {
        width: 95%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 2em;
    }
}