@media screen and (min-width: 921px) {
  #footer-wrapper svg {
    height: 20px;
  }

  #footer-wrapper {
    display: grid;
    grid-template-columns: 5% 12% auto 7% 7% 7% 5%;
    grid-template-rows: 80px;
    font-family: "Poppins", "Serif";
    font-size: 0.75em;
  }

  #footer-wrapper span {
    justify-self: center;
    align-self: center;
  }

  #address {
    grid-column-start: 2;
    width: 100%;
    cursor: pointer;
  }

  #address p:hover {
    animation-name: color-shift-footer;
    animation-duration: 0.25s;
    transition-timing-function: ease-out;
    transition-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  @keyframes color-shift-footer {
    from {
      background-color: white;
    }
    to {
      background-color: black;
    }
    from {
      color: black;
    }
    to {
      color: white;
    }
    from {
      padding: 0;
    }
    to {
      padding: 1em;
      text-align: center;
    }
  }

  #address a {
    text-decoration: none;
    color: black;
  }

  #number {
    padding-left: 14.5em;
  }

  #insta #fb #yelp {
    cursor: pointer;
  }
}

/*mobile*/

@media screen and (max-width: 920px) {
    #footer-wrapper svg {
        height: 20px;
      }
    
      #footer-wrapper {
        display: grid;
        grid-template-columns: 2em 12em auto 2em;
        grid-template-rows: 4em;
        font-family: "Poppins", "Serif";
        font-size: 0.75em;
      }
    
      #address {
        grid-column-start: 2;
        align-self: flex-start;
      }
      #address a {
        text-decoration: none;
        color: black;
      }
      #number {
        grid-column-start: 3;
        justify-self: flex-end;
        margin-bottom: 0.7em;
        align-self: center;
      }
    
      .social-icon {
        display: none;
      }
}
