@media screen and (min-width: 921px) {
  #footer-wrapper svg {
    height: 2em;
  }

  #footer-wrapper {
    display: flex;
    justify-content: space-between;
    font-family: 'Helvetica Light';
    font-size: 0.75em;
    width: 95%;
    height: 5em;
  }

  #footer-wrapper div {
    justify-self: center;
    align-self: flex-start;
  }

  #address {
    width: 15em;
  }

  #address p:hover {
    animation-name: color-shift-footer;
    animation-duration: 0.25s;
    transition-timing-function: ease-out;
    transition-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  @keyframes color-shift-footer {
    from {
      background-color: white;
    }
    to {
      background-color: black;
    }
    from {
      color: black;
    }
    to {
      color: white;
    }
    from {
      padding: 0;
    }
    to {
      padding: 0.2em 1em;
      text-align: center;
    }
  }

  #address a, #number a {
    text-decoration: none;
    color: black;
  }

  #number {
    display: flex;
    width: 11em;
    justify-content: flex-end;
  }

  #social-icons {
    display: flex;
    justify-content: space-evenly;
    width: 20em;
  }

  #insta #fb #yelp {
    cursor: pointer;
  }
}

/*mobile*/

@media screen and (max-width: 920px) {
    #footer-wrapper svg {
        height: 20px;
      }
    
      #footer-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        font-size: 0.75em;
      }
    
      #address {
        width: 13em;
        margin-left: 6%;
      }

      #address a, #number a {
        text-decoration: none;
        color: black;
      }
      #number {
        display: flex;
        justify-content: flex-end;
        width: 60%;
      }
    
      .social-icon {
        display: none;
      }
}
