#nav-container {
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 10em;
    z-index: 2;
    font-family: 'Helvetica Light';
    font-size: 0.85em;
}

#top-logo {
    top: 2em;
    left: 4em;
    position: absolute;
}

#top-logo svg {
    height: 8em;
    cursor: pointer;
}

#nav-container ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-right: 4em;
}

#nav-container li {
    width: 10em;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-self: flex-start;
}

#nav-container li a {
    text-decoration: none;
    position: relative;
    color: black;
    cursor: pointer;
}

#nav-item a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.75px;
    top: 125%;
    bottom: -5%;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.175s ease-in-out 0s;
    transition: all 0.175s ease-in-out 0s;
}

#nav-container li a:hover:before {
    visibility: visible;    
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform: scaleY(1.25);
}

/*mobile*/

@media screen and (max-width: 1080px) {
    #nav-container {
        display: none;
    }
}