html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Helvetica Light";
  src: url("./fonts/Helvetica_light.woff2") format("woff2");
}
@font-face {
  font-family: "Helvetica Roman";
  src: url("./fonts/Helvetica_Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("./fonts/Helvetica_Bold.woff2") format("woff2");
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;1,300;1,400&display=swap');